In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

!mkdir -p '/content/gdrive/My Drive/colab-materials-data8-notebooks/'
!git clone https://github.com/data-8/materials-sp22-colab '/content/gdrive/My Drive/colab-materials-data8-notebooks/materials-sp22-colab/'

%cd /content/gdrive/MyDrive/colab-materials-data8-notebooks/materials-sp22-colab/lectures/
from datascience import *
import numpy as np

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [2]:
# Option 1
40 * 15.00

600.0

In [3]:
40 * 52 * 15.00

31200.0

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour.

In [4]:
# Option 2
ca_hourly_minimum_wage = 15.00
hours_per_week = 40
weeks_per_year = 52

In [5]:
hours_per_year = hours_per_week * weeks_per_year

In [6]:
hours_per_year

2080

In [7]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

600.0

In [8]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

31200.0

## Numbers ##

In [9]:
10 * 3

30

In [10]:
10 / 3

3.3333333333333335

In [11]:
10 / 3 + 10 / 3

6.666666666666667

In [12]:
10 ** 3

1000

In [13]:
10 ** 0.5

3.1622776601683795

In [14]:
1234567 ** 890

2805763342107369230793809808310885724030151698643898788380662816980113897853769505682553341995361840866283163839674938063847465098181599413516030923830315020297429114484842472806037601633183177392342419552281446098882333113360498936060689417981060580169581781517081000887466986920196787365735472976637384790660527656183529108057677628812897898917415727467403873251697100284318113613171090832770107627373429297578100452541331137972394395518879748252497629953169189742546688743838014842998797222488578482742255590278830326264415887042424349338336685586108014796843647297854686632059611017792593114133643766176826645471505135284339608286440790108605114687261446214106703238304626747430320283170505623593598192482183253323227473361217459497593514576103139354263910235117552944853835259328240635891089203247501395301794244132584186874755797831852390704417457044048557568618633160284149583340352686512009611975784239859264336878392387482791049156912854159715516214706166214466230037339823780492774337274675800289580696315819494418004733412855205155027918058344891850668473780787520539851110601937177777258527635476258052342827179765186381834973522303136829852834242679559888371990546547773735142872611383102742753311234958929602179017609453450788021576889968090558526946002867067155433937025164603278496325064732080655085967120552122358643425906339419468088785812576641170399781555198518542228755764090812514788163758877228031474626249982320173230513790766211051807071509018394299594496298553425032888639575233308427922962072691110016410832613254845558533479779137394546533348267260208654147664661662489837722166465535984470300130195361526724657999247737664119545166367970118960539653700728246780841243422865927822029745430687779341494835511048331091708435435810632677284968867671217350609932555531424276428454845446681148799804144451127195396670373733155503688440766376117308145231339204514518114182442669726926958460263504747823171357759585770665369994677944653246927717262087721616975390825217507408220510861018634338133464060418295047933927635868626199925788463191380080935701443847346532746838349449833204183719520425273508461427363268810901816439207520602455792069406367821658839121277649227555623273564677301331404339603368354187279170542954088017099056552277230318062383216542056927422226999811205450549485589246237819874869638917303541644714356081602468616512144027808621669917967523298847733280998188849126660410144516840751121177122218727312917235905337333060556516611924333661893530040067042505379294125436401184352256775565463142705637306783871882313794728831427529583150846149427004802322087788357968992264438692993009809883875465518646172470495839410492599060455716367637440364630131471750106709132465895371670412945256073822697903510522211765697295922053593229276419226531331408317896936830655815873666355197305378708964668209899291344705444276333578719323904170952074328643811404544256843025709425474387814973960542018630128201161272329024792011740745530212579878161378961127918038096648026162029808878747866210894432543002029434565613132355043777385763831238060952363449797871761622541777453653784081456719940419766751192867804269268505636574832199689538986715250742630200523490339094085425178568698903268320220973567490288420919261018482168538171910000711992076873681129307598675285503345960161016391830728260326693428202177160119543736800344297771481079627076988031975978575895647654221558620092991884687091862613605722144271490738163190650508558761186844994717152403269557878581184075275936408939256017646715559306260196259010170427037361073267573147026510628695621128132172515464076418742940103113964611681699407950967774413428184355249041334714765827480675899800235537773385443229622067233523354213261412403375030932576886654499317808172035910623439488923497729990034132955991616175315301110003136655552464696428279778365477406164307525011119783055047664864798818426307604172381073695798688377889193415423645042188927398145864445871680431617772823584658707705057426132797633601281478887542871708884776132993498113629791075212269131263135104211901928478309667400642477145201362433365658578707267018122388906853103264797837550314906826327964589811537800151348078278689526492266541600168152334174087551992509222975658050902151573849522445074588731109036554789680280345720046009120507928152632018078697710120218368147570599141031673300682348326156497244011574817802187099834880327346210624556369660018678859929271654108596951193479453034452114779847850504280525490303492730731848704497321639579545359051407002629069912400518470707512308477494989006390249351273561453957767103749105099486859441823499120103359974562095361878219993785312682108204349115081403854873968693651144816992008787094413654541840750267945428940655147102103776877924495354589674471203663800973702240269677784610346010441824261817763592599870546594987128802020889878623694800247575251661439276157008847529529237192162577463356503617323132760079688627706444510425779441871297035026396768851129501722454220316418777074912838238391162658683371634959415544181384058154251960767217101632139258312150904777623156788937309713540569306765232165671618935868039816292110221657560493742908804867952618200515005539316960724088551539133626302522557345413249384658492371698805093289004717340532810196692880918816862832405941920828302568461913904088702147654713878056218117011839094769918168741678648022940613796829566893389100562532347981860917540264049

In [15]:
382764238764.238742034876503865238723985

382764238764.2388

In [16]:
382764238764.238742034876503865238723985 - 382764238764.238742

0.0

In [25]:
6 / 4000000000000000000000000000000

1.5e-30

In [26]:
(13 ** 0.5)

3.605551275463989

In [27]:
(13 ** 0.5) * (13 ** 0.5)

12.999999999999998

In [28]:
3.605551275463989 * 3.605551275463989

12.999999999999998

In [31]:
4000000000000000000000000000000 * (6 / 4000000000000000000000000000000)

6.0

In [35]:
10/3 * 10000000000000000000000000000

3.3333333333333333e+28

In [33]:
6/4

1.5

In [36]:
(13 ** 0.5) ** 2

12.999999999999998

In [37]:
123456789123456789.0

1.2345678912345678e+17

## Strings ##

In [38]:
'Flavor'

'Flavor'

In [39]:
Flavor

NameError: name 'Flavor' is not defined

In [40]:
'Vanilla Flavor'

'Vanilla Flavor'

In [41]:
'234'

'234'

In [42]:
'Don't put apstrophes in a string'

SyntaxError: invalid syntax (<ipython-input-42-60bb94a2e42d>, line 1)

In [43]:
"Don't put apstrophes in a string"

"Don't put apstrophes in a string"

In [45]:
"Don't put apstrophes in a string"

"Don't put apstrophes in a string"

In [46]:
"in a "quoted" string"

SyntaxError: invalid syntax (<ipython-input-46-1f8dfbc0aecd>, line 1)

In [47]:
"hello"

'hello'

In [48]:
hi = "hello"

In [49]:
hi

'hello'

In [50]:
'hello' + 'students'

'hellostudents'

In [51]:
'hello' + ' ' + 'students'

'hello students'

In [52]:
hi + ' students'

'hello students'

In [53]:
'ha' * 10

'hahahahahahahahahaha'

In [54]:
'ha' * 'ha'

TypeError: can't multiply sequence by non-int of type 'str'

In [56]:
str(3)

'3'

In [58]:
'my kid is ' + str(5)

'my kid is 5'

In [60]:
'23'

'23'

In [61]:
int('23') + 1

24

In [62]:
float('23.45')

23.45

In [63]:
float('23.45.67')

ValueError: could not convert string to float: '23.45.67'

In [64]:
int('23.45')

ValueError: invalid literal for int() with base 10: '23.45'

In [66]:
float(23.45)

23.45

In [69]:
int(123.90)

123

In [70]:
x = 'ha'
x * 10

'hahahahahahahahahaha'

In [71]:
float(1)

1.0

## Types ##

In [72]:
type(10)

int

In [73]:
x = 10

In [75]:
type(4.5)

float

In [76]:
type(1.0)

float

In [77]:
type('hello')

str

In [74]:
type(x)

int

In [78]:
from datascience import *

In [80]:
type(Table.read_table('nba_salaries.csv'))

datascience.tables.Table

In [81]:
abs(-5)

5

In [82]:
abs

In [83]:
type(abs)

builtin_function_or_method

## Arrays ##

In [84]:
first_four = make_array(1, 2, 3, 4)

In [85]:
first_four

array([1, 2, 3, 4])

In [86]:
type(first_four)

numpy.ndarray

In [87]:
np.average(first_four)

2.5

In [88]:
np.sum(first_four)

10

In [89]:
first_four + 3

array([4, 5, 6, 7])

In [90]:
first_four * 2

array([2, 4, 6, 8])

In [91]:
first_four ** 2

array([ 1,  4,  9, 16])

In [92]:
second_four = make_array(5, 6, 7, 8)

In [93]:
first_four + second_four

array([ 6,  8, 10, 12])

In [94]:
first_four

array([1, 2, 3, 4])

In [95]:
only_three = make_array(9, 10, 11)

In [96]:
first_four + only_three

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [97]:
first_four * second_four

array([ 5, 12, 21, 32])

In [100]:
s = make_array('hi', 'he', 'ho')

In [101]:
len(s)

3

In [102]:
s.item(0)

'hi'

In [103]:
s.item(1)

'he'

In [104]:
s.item(2)

'ho'

In [105]:
first_four

array([1, 2, 3, 4])

In [106]:
first_four.item(0)

1

In [107]:
second_four

array([5, 6, 7, 8])

In [108]:
second_four.item(0)

5

In [109]:
second_four.item(1)

6

In [110]:
second_four.item(2)

7

In [111]:
second_four.item(7)

IndexError: index 7 is out of bounds for axis 0 with size 4

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)